<?xml version="1.0" encoding="UTF-8"?>
<suite name="Week 2 - External Data and DataProviders" verbose="2" parallel="methods" thread-count="2">

    <test name="People Tests">
        <classes>
            <class name="week02.PeopleTests"/>
        </classes>
    </test>

</suite>

<!-- mvn test -Dgroups=smoke -->